body{
    height: 100%;
    font-family: 'Montserrat' ,Helvetica, sans-serif !important;
}
html{
    height: max-content;
}
.cor-v{
    color: #88b06a !important;
}
.navbar{
    box-shadow: 0 4px 2px -2px gray;
}
#nav-brand{
    margin-left: 5%;
    margin-right: 3%;
    font-size: 22px;
}
a{
    color: #88b06a !important;
}
.nav-item{
    border: 5px solid transparent;
}
.container-c{
    margin-left: 10%;
    margin-right: 10%;
}
#div-inicio{
    margin-top: 10%;
}
#text-1{
    font-size: 60px !important;
}
#btn-contato{
    margin-top: 2%;
    padding: 2% 5% 2% 5%;
    background-color: #88b06a;
    color: white;
    border: 0;
}
hr{
    margin-top: 50px;
}
#div-sobre{
    margin-top: 50px;
    background-color: rgb(244, 244, 244);
}
#texto-sobre{
    padding: 3%;
}
.hr-sm{
    border: 1px solid black;
    width: 50px;
}
.btn-link, .btn-link:hover, .collapsed, .collapsed:hover{
    color: inherit;
    text-decoration: none !important;
    cursor: pointer !important;
    text-align: left;
}
.card-header{
    background: #777777;
    color: white;
}
.card-header:hover{
    color: white !important;
    background-color: #555;
}
.collapse-titulo{
    padding: 6px 12px;
}
#div-serv-card{
    height: 327px !important;
    overflow: scroll !important;
    box-shadow: 0 0 4px black;
}

@media (max-width: 992px){
    #telefone{
        padding-top: 3%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #telefone{
        position: absolute;
        right:0; 
        margin-right: 10%;

    }
}